In [4]:
''' Q1 Create one variable containing following type of data
    (i) string
    (ii)list
    (iii) float 
    (iv) tuple
'''

s='PYTHON'
print (type(s))

l=[1,5.6,True,2+5j,'hello']
print(type(l))

f=1.78
print(type(f))

t=(1,4.6,False,'coding')
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [7]:
''' Q2 some following variables are given containing data ,what will be data type of each variable
(i) var1=" "
(ii)var2='[DS,ML,Python]'
(iii)var3=['DS','ML',Python]
(iv)var4=1.
'''
var1=" "
print(type(var1))
var2='[DS,ML,Python]'
print(type(var2))
var3=['DS','ML','Python']
print(type(var3))   
var4=1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [8]:
''' Q3 definee the use of following operator'''
 #(i) / = This operation is for calc division  ie, left operand is divided by right operand
x=5/3
print(x)
 #(ii) % = This is modulo operator .It is used to find reminder.
y=6%4
print(y)
 #(iii) // = This denotes floor division .It basically round down the value to the nearest whole no.
z=5.0//2
print(z)
 #(iv) ** = This is used as exponent in python,left operand raise to the power of right operand.
a=2**3
print(a)

1.6666666666666667
2
2.0
8

In [12]:
''' Q4 Create a list of length 10 of your choice containing 
   multiple types of data.using for loop print the elements and its data type'''

l=[1,True,45.78,'hi',4+7j,('hloo',1 ,2 ,'python','is','easy'),45,90.78,[1,2,5,87],'riddhi']
for i in l:
    print(i,type(i))

1 <class 'int'>
True <class 'bool'>
45.78 <class 'float'>
hi <class 'str'>
(4+7j) <class 'complex'>
('hloo', 1, 2, 'python', 'is', 'easy') <class 'tuple'>
45 <class 'int'>
90.78 <class 'float'>
[1, 2, 5, 87] <class 'list'>
riddhi <class 'str'>

In [15]:
''' Q5 using while loop ,verify no A is divisible by no B and if so then how many times  it can be divisible'''
A=int(input("enter a no"))
B=int(input("enter a no"))
if(A%B==0):
      print(A/B)

enter a no 100
enter a no 20

5.0

In [18]:
#Q6 create list containing 25 int type data  using for looop and if else condition and print if element is dividible by 3 or not.
l=[1,23,3,6,98,90,78,56,15,12,30,24,59,89,18,14,21,27,33,36,51,48,72,93,330]
for i in l:
    if i % 3 == 0:
     print(i ,"is divisible by 3")
    else:
     print(i ,"is not divisible by 3")

1 is not divisible by 3
23 is not divisible by 3
3 is divisible by 3
6 is divisible by 3
98 is not divisible by 3
90 is divisible by 3
78 is divisible by 3
56 is not divisible by 3
15 is divisible by 3
12 is divisible by 3
30 is divisible by 3
24 is divisible by 3
59 is not divisible by 3
89 is not divisible by 3
18 is divisible by 3
14 is not divisible by 3
21 is divisible by 3
27 is divisible by 3
33 is divisible by 3
36 is divisible by 3
51 is divisible by 3
48 is divisible by 3
72 is divisible by 3
93 is divisible by 3
330 is divisible by 3

In [20]:
'''Q7 what do you understand about mutable and immutable data types?give examples of both showing this property'''
# MUTABLE DATATYPE = In this datatype we can modify value at any paricular index.eg list,dictionary 
l=[1,56,78,90,'abc',34.5]
print("original list = ",l)
l[2]=True
print(l)
l[-1]=2+4j
print(l)

original list =  [1, 56, 78, 90, 'abc', 34.5]
[1, 56, True, 90, 'abc', 34.5]
[1, 56, True, 90, 'abc', (2+4j)]

In [21]:
# IMUTABLE DATATYPE = In this datatype we can't modify value at any perticular index .We can only assign new  value to variable .eg tuple,string 
str="coding is love for me"
str[3]=y
print(str)

TypeError: 'str' object does not support item assignment

In [ ]:
# the eror arises which shows that we cant modify the value of str at any index

In [22]:
t=(1,3,6,9)
t[1]=4
print(t)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# this tells tuple is also a immutable datatype.